@import "variables";
@import "mixins";
// RESET
* {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.4em;
  vertical-align: baseline;
  text-decoration: none;
  outline: 0;
  box-sizing: border-box;
}

body, html {
  background-color: $background-color;
  color: $font-color;
  font-family: $paragraph-font;
}

h1,h2,h3,h4 {
  font-family: $header-font;
  text-transform: uppercase;
}

h1 {
  font-size: $header1-font-size;
  font-weight: normal;
}

h2 {
  font-size: $header2-font-size;
  font-weight: normal;
}

h3 {
  font-size: $header3-font-size;
  font-weight: normal;
}

p {
  font-size: $paragraph-font-size;
  font-weight: lighter;
}

a:link, a:visited, a:active {
  text-decoration: none;
  color: $links-color;
}

a:focus {
  outline: 0;
}

a:hover {
  color: $links-hov-color;
}

nav {
  display: none;
  ul {
    list-style: none;
  }
}

button {
  font-family: $button-font;
  font-size: $button-font-size;
  font-weight:lighter;
  cursor: pointer;
  text-transform: uppercase;
}

header {
  color: $header-text-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $header-height;
  box-shadow: 0px .5px 1px $header-boxshadow-color;
  h1 {
    margin: 15px;
  }
}

main {
  background-color: $main-background-color;
}

article {
  padding: 20px;
  color: $article-font-color;
}

footer {
  font-size: $footer-font-size;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $footer-background-color;
  text-transform: capitalize;
  padding: 0px 20px 20px 20px;
}

%button {
  width: 200px;
  background-color: rgba(35,52,52,1);
  box-shadow: 0px .5px 0.8px $header-nav-wrapper-boxshadow-color;
  color: rgba(255,255,255,1);
  padding: 10px;
  font-size: 25px;
  text-transform: uppercase;
  margin: 30px auto;
  border-radius: 15px;
  transition: background-color 0.5s;
  transition: letter-spacing 1s;
  &:hover {
    background-color: $banner-button-hov-background-color;
    letter-spacing: 1.5px;
  }
}

#projects {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
  h2 {
    padding: 20px;
    font-size: 35px;
  }
  button {
    @extend %button;
  }
}

#contact {
  background-color: rgba(35,52,52,1);
  padding: 100px 20px 100px 20px;
  color: rgba(255,255,255,1);
  h3 {
    margin: 10px 0 10px 0;
  }
  form {
    display: flex;
    flex-direction: column;
    background-color: rgba(35,52,52,1);
    color: rgba(255,255,255,1);
    input {
      font-size: $contact-font-size;
      height: 40px;
      background-color: rgba(34,34,34,1);
      margin-bottom: 10px;
      color: rgba(255,255,255,1);
      padding: 10px;
      border-radius: 5px;
      &[type="submit"] {
        background-color: rgba(255,255,255,1);
        color: $contact-input-font-color;
        text-transform: uppercase;
        &:hover {
          background-color: rgba(255,182,71,1);
        }
      }
    }
    textarea {
      font-size: $contact-font-size;
      padding: 10px;
      color: rgba(255,255,255,1);
      background-color: rgba(34,34,34,1);
      margin-bottom: 10px;
      border-radius: 5px;
    }
  }
  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    li {
      display: flex;
      align-items: center;
      img {
        margin: 5px;
      }
      span {
        margin: 5px;
      }
    }
  }
}

.outline {
  &:focus {
    outline: 2px solid $outline-color;
  }
}
.header-nav-wrapper {
  position: fixed;
  width: 100%;
  background-color: $nav-background-color;
  z-index: 99;
}
.nav-item {
  width: 100%;
  height: 50px;
  box-shadow: 0px .5px 1px $nav-items-boxshadow-color;
  margin-top: 2px;
  transition: background-color .3s;
  &:hover {
    background-color: $background-color;
    color: $nav-items-text-color;
    box-shadow: none;
  }
}
nav li:last-child .nav-item {
  box-shadow: 0px 1px 1px $nav-items-last-boxshadow;
}
.toggle-nav {
  background-color: $transparent-color;
  border: 2px solid $header-button-border-color;
  border-radius: 10px;
  padding: 8px;
  flex-shrink: 0;
  margin: 20px;
  transition: background-color 1s;
  .icon-part {
    display: block;
    margin: 5px auto;
    height: 3px;
    width: 30px;
    border: 0;
    background-color: $header-button-icon-part-color;
    transition: background-color 1s;
  }
}
.nav-open {
  border-color: $header-button-border-pressed-color;
  .icon-part {
    background-color: $header-button-icon-part-pressed-color;
  }
}
.banner {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  height: $banner-height;
  width: 100%;

  .banner-content[data-id="0"] {
    background-image: url($banner-image_1);
  }
  .banner-content[data-id="1"] {
    background-image: url($banner-image_2);
  }
  .banner-content[data-id="2"] {
    background-image: url($banner-image_3);
  }
  .banner-content {
    transform: translate3d(0,0,0);
    height: 100%;
    width: 100%;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    display: none;
    p {
      text-shadow: 0px .5px 1px rgba(34,34,34,1);
      color: rgba(255,255,255,1);
      font-size: 15px;
    }
    h2 {
     color: rgba(255,182,71,1);
     font-size: 30px;
     font-weight: bold;
     text-shadow: 0px .5px 1px rgba(34,34,34,1);
    }
    &> * {
      width: 40%;
      margin-top: 20px;
      display: flex;
      justify-content: center;
      text-align: center;
      opacity: 0;
    }
    button {
      @extend %button;
    }
  }

  .current {
    display: flex;
  }

  .velocity-animating {
    display: flex;
  }

  .banner-controls-left,.banner-controls-right {
    width: 40px;
    height: 40px;
    position: absolute;
    background-position: center;
    background-size: cover;
    transform-origin: 50% 50%;
    transition: transform .5s;
    z-index: 88;
    &:hover {
      transform: scale(1.2);
    }
  }
  .banner-controls-left {
    background-image: url($banner-prev-button);
    left: 5%;
  }
  .banner-controls-right {
    background-image: url($banner-next-button);
    right: 5%;
  }
}

.scrolling {

}

.banner-short {
  width: 100%;
  min-height: 100px;
  background-color: rgba(35, 52, 52,1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  p {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    text-align: center;
  }
}

.projects-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  li {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    &:hover {
      .project-info {
        transform: translateY(0px);
      }
      img {
        filter: none;
        transform: translateY(-30px);
      }
    }
    .project-info {
      justify-content:space-around;
      background-color: rgba(255,255,255,1);
      position: absolute;
      width: 100%;
      height: 80px;
      bottom: 0px;
      transform: translateY(100px);
      transition: transform 1s;
      &:after {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        transform: rotate(45deg);
        background-color: rgba(255,255,255,1);
        position: relative;
        margin: 0 auto;
        top: -82px;
      }
      h4 {
        width: 80%;
        margin: 25px auto;
        text-align: center;
        color: rgba(0,0,0,1);
      }
    }
    img {
      width: 100%;
      height: auto;
      transition: filter, transform 1s;
      filter: grayscale(100%);
    }
  }
}

.fetures-list {
  display: flex;
  list-style: none;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 50px;
  li {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    width: 100%;
    &:hover {
      .fetures-list-item {

      }
    }
    .fetures-list-item {
      background-color: rgba(35, 52, 52,1);
      width: 120px;
      height: 120px;
      border-radius: 50%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .fetures-list-info {
      color: rgba(34,34,34,1);
      width: 60%;
      margin: 10px auto;
      text-align: center;
      h4 {
        text-transform: uppercase;
      }
    }
  }
}

.icon-placeholder {
  display: inline-block;
}

.icons-list {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  max-width: 300px;
  margin: 0 auto;
  height: 100%;
}

.copyrights {
  display: flex;
  justify-content: space-around;
  background-color: $footer-background-color;
  text-transform: capitalize;
  margin-bottom: 50px;
}

.before-footer {
  height: 100px;
  background-color: $footer-background-color;
}

.footer-logo {
  font-family: $header-font;
  font-size: $header2-font-size;
  width: 100%;
  padding: 15px 0px 15px 0px;
  text-shadow: 0px 1px $footer-text-shadow-color;
  text-align: center;
}

.footer-logo-short {
  font-size: 60px;
  font-weight: bold;
  display: block;
  color: $background-color;
}

.footer-logo-short-content {
  width: 90px;
  height: 90px;
  letter-spacing: 5px;
  display: flex;
  background-color: $footer-logo-background-color;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}

.footer-links {
  width: 100%;
  padding: 15px 0px 15px 0px;
  text-align: center;
  ul {
    list-style: none;
  }
  h3 {
    text-shadow: 0px 1px $footer-links-header-text-shadow-color;
  }
}

// MEDIA QUERIES
@media (min-width: 768px) {
  .banner {
    .banner-content {
      h2 {
        font-size: 50px;
      }
      p {
        font-size: 20px;
      }
    }
  }
  .banner-short {
    flex-direction: row;
  }
  .toggle-nav {
    display: none;
  }
  .header-nav-wrapper {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $header-nav-wrapper-bottom-color;
    box-shadow: 0px .5px 0.8px $header-nav-wrapper-boxshadow-color;
  }
  .nav-item {
    height: 100%;
    width: auto;
    padding: 25px;
    margin-top: 0;
    background-color: $transparent-color;
    box-shadow: none;
    color: $nav-items-text-color-md;
    &:hover {
      background-color: $nav-items-hov-background-color;
      color: $nav-items-text-hov-color;
    }
  }
  .projects-list {
    flex-direction: row;
    flex-wrap: wrap;
    li {
      width: 50%;
    }
  }
  .fetures-list {
    flex-direction: row;
    flex-wrap: wrap;
    li {
      width: 25%;
      .fetures-list-item {
        width: 100px;
        height: 100px;
      }
      .fetures-list-info {
        p,h4 {
          font-size: 15px;
        }
      }
    }
  }
  .footer-links {
    text-align: left;
  }
  #contact {
    h3 {
      width: 70%;
      margin: 10px auto;
    }
    form {
      width: 70%;
      margin: 0 auto;
      input {
        &[type="submit"] {
          width: 200px;
        }
      }
    }
    ul {
      width: 70%;
      margin: 0 auto;
    }
  }
  header {
    box-shadow: none;
    text-shadow: 0px 1px $header-text-shadow-color;
  }
  nav {
    display: block !important; //override velocity inline styles
    ul {
      li {
        display: inline-block;
        height: 100%;
      }
      height: 100%;
      li:first-child {
        margin-left: 15px;
      }
      li:last-child {
        margin-right: 15px;
        .nav-item {
          box-shadow: none;
        }
      }
    }
  }
  footer {
    flex-direction: row;
    align-items: flex-start;
    width: 80%;
    margin: 0 auto;
  }

}
